:host ::ng-deep .ngx-charts .pie-label {
  font-size: 12px;
}

@media screen and (min-width: 640px) {
  :host ::ng-deep .ngx-charts .pie-label {
    font-size: 14px;
  }
}

@media screen and (min-width: 768px) {
  :host ::ng-deep .ngx-charts .pie-label {
    font-size: 16px;
  }
}

@media screen and (min-width: 1024px) {
  :host ::ng-deep .ngx-charts .pie-label {
    font-size: 18px;
  }
}
